#job
job.name : BEPS
job.dir : /data1/zhangly/InvSys_Region69/InverseSystem_20231016/InvSys

# job.type
# 1   subtract the conc of ff and fire from obs conc
# 2   subtract the conc of ff, fire, bio, ocean, from obs conc
job.type : 1

#inv
inv.start : 2015
inv.start.month : 201501
inv.start.month.only : 01
inv.months:12
inv.spin-up : 0
inv.end : 2015
inv.end.month : 201512
inv.end.month.only : 12
inv.obs.conc.file : obs_conc.inv
inv.obs.R.file : obs_uncert.inv
inv.prior.flux.file : priori_flux.inv
inv.prior.Q.file : priori_uncert.inv
inv.matrix.file : matrix.inv
inv.output.flux.file : postflux.inv
inv.output.uncert.file : postuncert.inv
inv.analysis.start : 2015
inv.analysis.end : 2015
out.postuncert.file: postuncert.txt

#region
region.number : 69
region.with_fraction : 0
region.number.fraction : 0
region.cluster.number : 108
region.cluster.name : land,L1North,L2Tropical,L3South,Asia,China,NorthAmerica,Europe,SouthAmerica,Africa,Oceania,Tropics,TropicalSouthAmerica,TropicalAsia,TropicalAfrica,NorthernAfrica,SouthernAfrica,TemperateAsia,BorealAsia,AsiaN,AsiaS,AsiaNW,AsiaNE,AsiaSW,AsiaSE,NorthAmericaN,NorthAmericaS,NorthAmericaNW,NorthAmericaNE,NorthAmericaSW,NorthAmericaSE,EuropeW,EuropeE,EuropeSW,EuropeC,EuropeNN,EuropeEE,SouthAmericaN,SouthAmericaS,SouthAmericaNW,SouthAmericaC,SouthAmericaEE,SouthAmericaSS,AfricaN,AfricaS,AfricaNN,AfricaNC,AfricaSC,AfricaSS,OceaniaW,OceaniaE,R1,R2,R3,R4,R5,R6,R7,R8,R9,R10,R11,R12,R13,R14,R15,R16,R17,R18,R19,R20,R21,R22,R23,R24,R25,R26,R27,R28,R29,R30,R31,R32,R33,R34,R35,R36,R37,R38,R39,R40,R41,R42,R43,R44,R45,R46,R47,R48,R49,R50,R51,USA,European,Canada,Russia,India,Brazil
region.land.ids : 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51
region.land.number : 51
region.L1North.ids : 1,2,3,4,5,6,7,8,9,10,11,12,19,20,21,22,23,24,25,26,27,28,33,34,35,36,37,38,39,40,41,42,43,44,45,46
region.L1North.number : 36
region.L2Tropical.ids : 13,14,15,29,30,31,47,48,49
region.L2Tropical.number : 9
region.L3South.ids : 16,17,18,32,50,51
region.L3South.number : 6
region.Asia.ids : 23,24,27,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
region.Asia.number : 20
region.China.ids : 37,38,39,40,41,42,43,44
region.China.number : 8
region.NorthAmerica.ids : 1,2,3,4,5,6,7,8,9,10,11,12,13
region.NorthAmerica.number : 13
region.Europe.ids : 19,20,21,22,25,26
region.Europe.number : 6
region.SouthAmerica.ids : 14,15,16,17,18
region.SouthAmerica.number : 5
region.Africa.ids : 28,29,30,31,32
region.Africa.number : 5
region.Oceania.ids : 50,51
region.Oceania.number : 2
region.Tropics.ids : 13,14,15,29,30,31,44,47,48,49
region.Tropics.number : 10
region.TropicalSouthAmerica.ids : 13,14,15
region.TropicalSouthAmerica.number : 3
region.TropicalAsia.ids : 44,47,48,49
region.TropicalAsia.number : 4
region.TropicalAfrica.ids : 29,30,31
region.TropicalAfrica.number : 3
region.NorthernAfrica.ids : 28,29
region.NorthernAfrica.number : 2
region.SouthernAfrica.ids : 30,31,32
region.SouthernAfrica.number : 3
region.TemperateAsia.ids : 27,33,34,35,36,37,38,39,40,41,42,43,45,46
region.TemperateAsia.number : 14
region.BorealAsia.ids : 23,24
region.BorealAsia.number : 2
region.AsiaN.ids : 23,24,33,34,36,37,38,40,45
region.AsiaN.number : 9
region.AsiaS.ids : 27,35,39,41,42,43,44,46,47,48,49
region.AsiaS.number : 11
region.AsiaNW.ids : 23,33,34,36,37
region.AsiaNW.number : 5
region.AsiaNE.ids : 24,38,40,45
region.AsiaNE.number : 4
region.AsiaSW.ids : 27,35,39,46,47
region.AsiaSW.number : 5
region.AsiaSE.ids : 41,42,43,44,48,49
region.AsiaSE.number : 6
region.NorthAmericaN.ids : 1,2,3,4,11
region.NorthAmericaN.number : 5
region.NorthAmericaS.ids : 5,6,7,8,9,10,12,13
region.NorthAmericaS.number : 8
region.NorthAmericaNW.ids : 1,2,11
region.NorthAmericaNW.number : 3
region.NorthAmericaNE.ids : 3,4
region.NorthAmericaNE.number : 2
region.NorthAmericaSW.ids : 5,8,12,13
region.NorthAmericaSW.number : 4
region.NorthAmericaSE.ids : 6,7,9,10
region.NorthAmericaSE.number : 4
region.EuropeW.ids : 20,21,25,26
region.EuropeW.number : 4
region.EuropeE.ids : 19,22
region.EuropeE.number : 2
region.EuropeSW.ids : 25,26
region.EuropeSW.number : 2
region.EuropeC.ids : 20,21
region.EuropeC.number : 2
region.EuropeNN.ids : 19
region.EuropeNN.number : 1
region.EuropeEE.ids : 22
region.EuropeEE.number : 1
region.SouthAmericaN.ids : 14,15
region.SouthAmericaN.number : 2
region.SouthAmericaS.ids : 16,17,18
region.SouthAmericaS.number : 3
region.SouthAmericaNW.ids : 14
region.SouthAmericaNW.number : 1
region.SouthAmericaC.ids : 15
region.SouthAmericaC.number : 1
region.SouthAmericaEE.ids : 16
region.SouthAmericaEE.number : 1
region.SouthAmericaSS.ids : 17,18
region.SouthAmericaSS.number : 2
region.AfricaN.ids : 28,29,30
region.AfricaN.number : 3
region.AfricaS.ids : 31,32
region.AfricaS.number : 2
region.AfricaNN.ids : 29
region.AfricaNN.number : 1
region.AfricaNC.ids : 30
region.AfricaNC.number : 1
region.AfricaSC.ids : 31
region.AfricaSC.number : 1
region.AfricaSS.ids : 32
region.AfricaSS.number : 1
region.OceaniaW.ids : 50
region.OceaniaW.number : 1
region.OceaniaE.ids : 51
region.OceaniaE.number : 1
region.R1.ids : 1
region.R1.number : 1
region.R2.ids : 2
region.R2.number : 1
region.R3.ids : 3
region.R3.number : 1
region.R4.ids : 4
region.R4.number : 1
region.R5.ids : 5
region.R5.number : 1
region.R6.ids : 6
region.R6.number : 1
region.R7.ids : 7
region.R7.number : 1
region.R8.ids : 8
region.R8.number : 1
region.R9.ids : 9
region.R9.number : 1
region.R10.ids : 10
region.R10.number : 1
region.R11.ids : 11
region.R11.number : 1
region.R12.ids : 12
region.R12.number : 1
region.R13.ids : 13
region.R13.number : 1
region.R14.ids : 14
region.R14.number : 1
region.R15.ids : 15
region.R15.number : 1
region.R16.ids : 16
region.R16.number : 1
region.R17.ids : 17
region.R17.number : 1
region.R18.ids : 18
region.R18.number : 1
region.R19.ids : 19
region.R19.number : 1
region.R20.ids : 20
region.R20.number : 1
region.R21.ids : 21
region.R21.number : 1
region.R22.ids : 22
region.R22.number : 1
region.R23.ids : 23
region.R23.number : 1
region.R24.ids : 24
region.R24.number : 1
region.R25.ids : 25
region.R25.number : 1
region.R26.ids : 26
region.R26.number : 1
region.R27.ids : 27
region.R27.number : 1
region.R28.ids : 28
region.R28.number : 1
region.R29.ids : 29
region.R29.number : 1
region.R30.ids : 30
region.R30.number : 1
region.R31.ids : 31
region.R31.number : 1
region.R32.ids : 32
region.R32.number : 1
region.R33.ids : 33
region.R33.number : 1
region.R34.ids : 34
region.R34.number : 1
region.R35.ids : 35
region.R35.number : 1
region.R36.ids : 36
region.R36.number : 1
region.R37.ids : 37
region.R37.number : 1
region.R38.ids : 38
region.R38.number : 1
region.R39.ids : 39
region.R39.number : 1
region.R40.ids : 40
region.R40.number : 1
region.R41.ids : 41
region.R41.number : 1
region.R42.ids : 42
region.R42.number : 1
region.R43.ids : 43
region.R43.number : 1
region.R44.ids : 44
region.R44.number : 1
region.R45.ids : 45
region.R45.number : 1
region.R46.ids : 46
region.R46.number : 1
region.R47.ids : 47
region.R47.number : 1
region.R48.ids : 48
region.R48.number : 1
region.R49.ids : 49
region.R49.number : 1
region.R50.ids : 50
region.R50.number : 1
region.R51.ids : 51
region.R51.number : 1
region.USA.ids : 5,6,7,8,9,10,11
region.USA.number : 7
region.European.ids : 19,20,21,25,26
region.European.number : 5
region.Canada.ids : 1,2,3,4
region.Canada.number : 4
region.Russia.ids : 22,23,24
region.Russia.number : 3
region.India.ids : 46,47
region.India.number : 2
region.Brazil.ids : 15,16
region.Brazil.number : 2
region.land.uncert : 2.0
region.ocean.uncert : 0
region.dir : /data1/zhangly/InvSys_Region69/InverseSystem_20231016/InvSys/preInv/Inversion_input/region
region.file : region_gcas_v2.nc
region.var : region

#Matrix 
matrix.dir : ./preInv/Inversion_input/mz4_gosatv9_5x5
matrix.start : 2015
matrix.end : 2015
matrix.start.month : 201501
matrix.end.month : 201512

#Forward simulation Dir
forward.dir : ./preInv/Inversion_input/mz4_gosatv9_5x5/ffmz4
forward.start : 2015
forward.end : 2015
forward.initconc : 0
forward.start.month : 201501
forward.end.month : 201512

#Prior Flux dir
prior.start : 2015
prior.start.month : 01
prior.start.day : 01
prior.end : 2015
prior.end.month : 12
prior.end.day : 31
prior.ff.dir : /glade/public/Data_GCAS/priorflux_2009_2022/fossil
prior.fire.dir : /glade/public/Data_GCAS/priorflux_2009_2022/fire
prior.ocn.dir : /glade/public/Data_GCAS/priorflux_2009_2022/ocn
prior.bio.dir : /glade/public/Data_GCAS/priorflux_2009_2022/bio
prior.bio.var : emissions
prior.ocn.var : emissions
prior.bio.prefix : emissions.bio.
prior.ocn.prefix : emissions.ocn.
prior.TRENDY.file : ./preInv/Inversion_input/BEPSnee_monthregion2015-2019_0901.txt
prior.ocnflux.file : ./preInv/Inversion_input/15-19ocn_flux_test.inv

#obs
obs.dir : ./preInv/Inversion_input/mz4_gosatv9_5x5/calpointnumber
obs.ffmz4file : ./preInv/Inversion_input/mz4_gosatv9_5x5/ffmz4
obs.ocnmz4file : ./preInv/Inversion_input/mz4_gosatv9_5x5/ocn_100
obs.poinumfile : ./preInv/Inversion_input/mz4_gosatv9_5x5/calpointnumber
obs.qfile : ./preInv/Inversion_input/mz4_gosatv9_5x5
obs.initialfile : ./preInv/Inversion_input/mz4_gosatv9_5x5/initial_xco2

 
